body {
    font-family: Arial, sans-serif;
    margin: 0px;
}


main {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

header {
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1d1d1b;
    color: #ffffff;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.header__container a {
    color: #ffffff;
    text-decoration: none;
}
.header__container a:hover {
    color: #6cb1ff;
}




h1, h2 {
    color: #333;
}
h2 {
    margin: 5px 0;
}

.post__container {
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.post__content, .post__authorBlock__time {
    color:rgba(6,6,15,0.6);
}

.post__authorBlock {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 32px;
}

.post__authorBlock_info {
    margin-left: 10px;
}

.post__authorBlock__avatar {
    border-radius: 50%;
}