<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить нового пользователя</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header__container">
            <a href="/" class="header__item"><span>Все статьи</span></a>
            <a href="/add-post" class="header__item"><span>Добавить статью</span></a>
            <a href="/add-user" class="header__item"><span>Добавить пользователя</span></a>
        </div>
    </header>
    <main>

        <h1>Добавить нового пользователя</h1>

        <div class="form__container">
            <form action="/add-user" method="POST" enctype="multipart/form-data">
                <div class="user__name">
                    <label for="name">Имя:</label>
                    <div class="form__input">
                        <input type="text" id="name" name="name" required>
                    </div>
                </div>
                <div class="user__avatar">
                    <label for="avatar">Аватар:</label>
                    <div class="form__input">
                        <input type="file" id="avatar" name="avatar" accept="image/*" required>
                    </div>
                </div>
                <button class="form__button__submit" type="submit">Добавить</button>
            </form>
        </div>

    </main>
</body>
</html>

