<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статьи</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header__container">
            <a href="/post"><span>Все статьи</span></a>
            <a href="/add-user"><span>Добавить пользователя</span></a>
        </div>
    </header>
    <main>
        <h1>Статьи</h1>

        <div id="posts">
            {{range .}}
            <div class="post__container">
                <div class="post__title">
                    <h2>{{.Title}}</h2>
                </div>
                <div class="post__content">
                    <p>{{.Content}}</p>
                </div>
                <div class="post__authorBlock">
                    <img src="{{.Author.AvatarURL}}" alt="{{.Author.Name}}" class="post__authorBlock__avatar">
                    <div class="post__authorBlock_info">
                        <div class="post__authorBlock__title">
                            {{.Author.Name}}
                        </div>
                        <div class="post__authorBlock__time">
                            {{.CreatedAt}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

        <!-- <h2>Добавить новую статью</h2>
        <form id="postForm" method="POST" action="/posts">
            <input type="text" name="title" placeholder="Заголовок" required>
            <textarea name="content" placeholder="Содержимое" required></textarea>
            <button type="submit">Добавить</button>
        </form>

        <script>
            document.getElementById('postForm').addEventListener('submit', function(e) {
                e.preventDefault(); // Отменяем стандартное поведение формы

                const formData = new FormData(this);
                const data = {
                    title: formData.get('title'),
                    content: formData.get('content')
                };

                fetch('/posts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Обновляем страницу при успешном добавлении
                    } else {
                        alert('Ошибка при добавлении статьи');
                    }
                });
            });
        </script> -->
        
        <!-- <form id="addUserForm" action="/add-user" method="post" enctype="multipart/form-data">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        
            <label for="avatar">Аватар:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*" required>
        
            <button type="submit">Добавить пользователя</button>
        </form>
        -->
    </main>
</body>
</html>
