<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статьи</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header__container">
            <a href="/" class="header__item"><span>Все статьи</span></a>
            <a href="/add-post" class="header__item"><span>Добавить статью</span></a>
            <a href="/add-user" class="header__item"><span>Добавить пользователя</span></a>
        </div>
    </header>
    <main>
        <h1>Статьи</h1>
        <div id="posts">
            {{range .}}
            <div class="post__container" id="post-{{.ID}}">
                <div class="post__header">
                    <div class="post__id">Post ID:{{.ID}}</div>
                    <button class="post__delete-btn" onclick="confirmDelete({{.ID}})"></button>
                </div>
                
                <div class="post__title">
                    <h2>{{.Title}}</h2>
                </div>
                <div class="post__content">
                    <p>{{.Content}}</p>
                </div>
                <div class="post__hr"></div>
                <div class="post__authorBlock">
                    <img src="{{.Author.AvatarURL}}" alt="{{.Author.Name}}" class="post__authorBlock__avatar">
                    <div class="post__authorBlock__info">
                        <div class="post__authorBlock__title">
                            {{.Author.Name}}
                        </div>
                        <div class="post__authorBlock__time">
                            {{.FormattedDate}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        
        <div id="deleteModal" class="modal">
            <div class="modal__content">
                <p>Вы уверены, что хотите удалить этот пост?</p>
                <div class="modal__btns">
                    <button onclick="deletePost()" class="modal__confirm-btn ">Да</button>
                    <button onclick="closeModal()" class="modal__cancel-btn">Отмена</button>
                </div>
            </div>
        </div>
        
    </main>
    <script src="/static/js/deletePost.js"></script>
</body>
</html>
